body {
    background-color: aquamarine;
    margin-left: 25%;
    margin-right: 25%;
}

p {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (min-width: 600px) {
    p {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: rgb(146, 1, 50);
    }
}

@media only screen and (max-width: 900px) {
    body {
        background-color: lavender);
    }
}

@media only screen and (max-width: 800px) {
    body {
        background-color: rgb(210, 228, 107);
    }
}

@media only screen and (max-width: 700px) {
    body {
        background-color: blue;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightpink;
    }
}
